/* Write your code here. */

.list {
  list-style-type: none;
}
.button {
  background-color: transparent;
  border: none;
}
.image {
  cursor: pointer;
  padding: 10px;
}

.normal {
  height: 50px;
  opacity: 0.5;
}

.highlight {
  height: 60px;
  opacity: 1;
}
.normal:hover {
  opacity: 0.8;
  height: 55px;
}
